<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>InfoSecurityProject</display-name>
  <welcome-file-list>
    <welcome-file>template.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>WebBrowsing</display-name>
    <servlet-name>WebBrowsing</servlet-name>
    <servlet-class>cyberprime.servlets.WebBrowsing</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>cyberprime.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>cyberprime.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logon</servlet-name>
    <servlet-class>cyberprime.servlets.Logon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logon</servlet-name>
    <url-pattern>/Logon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>cyberprime.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FileTransfer</display-name>
    <servlet-name>FileTransfer</servlet-name>
    <servlet-class>cyberprime.servlets.FileTransfer</servlet-class>
  </servlet>
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>cyberprime.servlets.filters.AccessFilter</filter-class>
  </filter>
  
  <!--  Disable for auto login -->
  <!-- 
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/secured/*</url-pattern>
  </filter-mapping>
  -->
  
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         D:\Temp\
     </param-value>
  </context-param>
</web-app>